.row{
    padding: 10px;
    margin: 10px;
    min-height: 25px;
    vertical-align: middle;
    background-color: #f8f9fa;
    color:#ff5353;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.3s;
}
.row:hover{
    transform: scale(1.02);
    cursor: pointer;
    background-color: #ff5353;
    color: #fff;
}

.title{
    font-size:15px;
    text-transform: uppercase;
}
.description{
    font-size:12px;
    text-transform: uppercase;
}